* { /* Esse código é usado para zerar todas as modificações do navegadores*/
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: 	#DCDCDC;
    text-align: center;
    
}
.titulosX{
    font-family: 'Righteous', 'cursive';
    
    
}
.titulo{

  border-top: 15px solid green;
    
}
.op{
    display:flex;
    justify-content: center;
    gap:32px;
    margin-top: 20px;
   
   
    
}
.filho{
    
    background-color:#b2babb;
    border: 5px solid #cccccc;
    text-align: center;
    padding: 5px;
    width: 215px;
    

}
.fiPai{
    display:flex;
    flex-direction:column;
    text-align:left;         /* Usamos para alinhar o texto no center, right, justify*/
    text-align: justify;    
    padding: 20px;
   
}
.tipos {
    padding: 15px 10px;
    border:none;
    
   
}
textarea{
    width:500px;
    height:250px;
    resize:none;
   
}
fieldset{
    display: inline-block;
    border:none;
    
    
}
.salvar{
    background-color:#b2babb;
    border: 5px solid #cccccc;
    padding: 20px;
    width: 275px;




}
.EscolherAr {
    background-color:#b2babb;
    border: 5px solid #cccccc;
    padding: 20px;
    width: 275px;
}
.Enviar{
    background-color:#b2babb;
    border: 5px solid #cccccc;
    padding: 20px;
    width: 275px;
}